In [2]:
# Unique Words in a Sentence
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'is', 'powerful', 'and', 'python'}

In [3]:
# Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [4]:
# Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
# Count Products Above a Price Threshold
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

In [6]:
# Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]
total_days = len(attendance)
present_days = attendance.count("P")
percentage = (present_days / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [7]:
# Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
# Count Character Frequency
text = "python"
char_count = {}
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
# Convert List to Tuple
numbers = [10, 20, 30]
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [10]:
# Check if a Key Exists in a Dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key_to_check = "Ravi"
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [11]:
# Calculate Average Marks
marks = [70, 75, 80, 65]
total = sum(marks)
count = len(marks)
average = total / count
print("Average Marks:", average)

Average Marks: 72.5